<div class="container">
<h1>All Tasks</h1>

<ul class="decoration">
  <% @tasks.each do |task| %>
    <li>
      <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">
      <%= link_to task.title, task_path(task.id) %>
      <%= link_to "",
            task_path(task.id),
            method: :delete,
            data: { confirm: "Are you sure?" }, class: "far fa-trash-alt"%>
    </li>
  <% end %>
</ul>

<p><%= link_to '+ Add a new task', new_task_path %></p>
</div>
